<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Styles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="brand">PHOTO FOLIO</div>
    <div class="address-bar">
        <a href="" class="whiteLink">Upload your art</a> | <a href="" class="whiteLink">
            Upload your photos
        </a> | <a href="" class="whiteLink">Find Photographers</a>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li>
                        <a href="#topMembers">Top Members</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#searchModal">
                            Search
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#loginModal">
                            Login
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="searchModalContent">

                <div class="modal-body">

                    <h3 class="whiteFont">What can we help you find?</h3>
                    <br>
                    <!--<p id = "searchP" class = "inline whiteFont">Search for:</p>
                    <a href = "#" class = "searchLinks" id = "user">User</a>
                    <a href = "#" id = "photo" class = "searchLinks">Photo</a>
                    <a href = "#" class = "searchLinks" id = "tag">Tag</a>-->
                    <button class="glyphicon glyphicon-user searchButton" id="user" title="Username"></button>
                    <button class="glyphicon glyphicon-picture searchButton" id="photo" title="Photo"></button>
                    <button class="glyphicon glyphicon-tag searchButton" id="tag" title="Tag"></button>
                    <br><br>
                    <!--Username Input Box -->
                    <div class="row">
                        <div class="col-xs-12" id="userSearch">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12" id="photoSearch">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Photo Description" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-picture"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12" id="tagSearch">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tag" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-tag"></i>
                                </span>
                            </div>
                        </div>
                        <br><br>
                        <button type="button" class="btn btn-default floatRight">Search</button>
                    </div>

                    <br>
                    <br>

                    <!--Password input Box-->

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" id="loginModalContent">

                <div class="modal-body">

                    <h3 class="whiteFont">Log In To Photo Folio</h3>
                    <br>
                    <!--Username Input Box -->
                    <div class="row">
                        <div class="col-xs-12" id="userBox">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Username" />
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="col-xs-12" id="passwordBox">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-lock"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Password" />
                            </div>
                        </div>
                        <br>
                        <a href="" class="whiteFont">Don't have an account yet?<br> Sign up here!</a>
                        <button type="button" class="btn btn-default floatRight">Login</button>
                    </div>

                    <br>
                    <br>

                    <!--Password input Box-->

                </div>

            </div>
        </div>
    </div>

        @RenderBody()


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
	//  Check Radio-box
		$(".rating input:radio").attr("checked", false);
		$('.rating input').click(function () {
			$(".rating span").removeClass('checked');
			$(this).parent().addClass('checked');
		});

		$('input:radio').change(
		function(){
			var userRating = this.value;
			alert(userRating);
		});
	});
    </script>

    <!-- jQuery Version 1.11.0 -->
    <script src="Scripts/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="Scripts/bootstrap.min.js"></script>

    <script>
	  $(document).ready(function(){
            $("#photo").click(function() {
                $("#userSearch").hide(0);
				$("#photoSearch").fadeIn(500);
				$("#tagSearch").hide(0);
            });

        });
    </script>

    <script>
		$(document).ready(function() {
		$("#user").click(function() {
				$("#photoSearch").hide(0);
				$("#tagSearch").hide(0);
				$("#userSearch").fadeIn(500);
			});
		});
    </script>

    <script>
		$(document).ready(function() {
			$("#tag").click(function() {
				$("#userSearch").hide(0);
				$("#photoSearch").hide(0);
				$("#tagSearch").fadeIn(500);
			});
		});
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
