@using Login.Models;
@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="brand">PHOTO FOLIO</div>
    <div class="address-bar">
        <a href="@Url.Action("UploadArt", "Home")" class="whiteLink">Upload art</a> | <a href="@Url.Action("UploadPhoto", "Home")" class="whiteLink">
            Upload photos
        </a> | <a href="" class="whiteLink">Find Photographers</a>
    </div>
    @*@Html.ActionLink("Ratings", "Index", "Ratings")
    @Html.ActionLink("Uploads", "Index", "Uploads")
    @Html.ActionLink("AspNetUsers", "Index", "AspNetUsers")*@
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                        <li><a href="@Url.Action("Index", "Home")#topMembers">Top Members</a></li>
                        <li>
                            <a data-toggle="modal" data-target="#searchModal">
                                Search
                            </a>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                }
            </div>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="searchModalContent">

                <div class="modal-body">

                    <h3 class="whiteFont">What can we help you find?</h3>
                    <br>
                    <!--<p id = "searchP" class = "inline whiteFont">Search for:</p>
                    <a href = "#" class = "searchLinks" id = "user">User</a>
                    <a href = "#" id = "photo" class = "searchLinks">Photo</a>
                    <a href = "#" class = "searchLinks" id = "tag">Tag</a>-->
                    <button class="glyphicon glyphicon-user searchButton" id="user" title="Username"></button>
                    <button class="glyphicon glyphicon-picture searchButton" id="photo" title="Photo"></button>
                    <button class="glyphicon glyphicon-tag searchButton" id="tag" title="Tag"></button>
                    <br><br>
                    <!--Username Input Box -->
                    <div class="row">
                        <div class="col-xs-12" id="userSearch">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12" id="photoSearch">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Photo Description" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-picture"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12" id="tagSearch">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tag" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-tag"></i>
                                </span>
                            </div>
                        </div>
                        <br><br>
                        <button type="button" class="btn btn-default floatRight">Search</button>
                    </div>

                    <br>
                    <br>

                    <!--Password input Box-->

                </div>

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>



    <script type="text/javascript">
    $(document).ready(function () {
        $('[id^=error-]').mouseout(function () {
            $(this).prev().show();
            $(this).hide();
        });
        $('[id^=static-rating-]').hover(function () {
                $(this).hide();
                $(this).next().show();
        });
    });
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            //  Check Radio-box
            $(".rating input:radio").attr("checked", false);
            $('.rating input').click(function () {
                //$(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');
            });
            $('[id^=rating-]').mouseout(function () {
                $('label').css("background", "url('../../Images/starEmpty.png')");
                $('label').css("background-size", "30px 30px");
                $('.checked').children('label').css("background", "url('../../Images/starFull.png')");
                $('.checked').children('label').css("background-size", "30px 30px");
            });
            $('[id^=rating-]').children().each(function () {
                $(this).hover(function () {
                    $(this).prevAll().children('label').css("background", "url('../../Images/starEmpty.png')");
                    $(this).prevAll().children('label').css("background-size", "30px 30px");
                    $(this).children('label').css("background", "url('../../Images/starFull.png')");
                    $(this).children('label').css("background-size", "30px 30px");
                    $(this).nextAll().children('label').css("background", "url('../../Images/starFull.png')");
                    $(this).nextAll().children('label').css("background-size", "30px 30px");
                });
            });
        });
    </script>



    <script>
        function ChangeUsername() {
            var element = document.getElementById('Change-user');
            if (element.innerHTML == 'Edit..') {
                element.innerHTML = 'Cancel';
                $("#User-display").hide(0);
                $("#Username-input").fadeIn(500);
            } else if (element.innerHTML == 'Cancel') {
                element.innerHTML = 'Edit..';
                $("#User-display").fadeIn(500);
                $("#Username-input").hide(0);
            }
        }

        function ChangeEmail() {
            var element = document.getElementById('Change-email');
            if (element.innerHTML == 'Edit..') {
                element.innerHTML = 'Cancel';
                $("#Email-display").hide(0);
                $("#Email-input").fadeIn(500);
            } else if (element.innerHTML == 'Cancel') {
                element.innerHTML = 'Edit..';
                $("#Email-display").fadeIn(500);
                $("#Email-input").hide(0);
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#Display-account").click(function () {
                $("#My-photofolio-panel").hide(0);
                $("#My-account-panel").fadeIn(500);
            });
        });
        $(document).ready(function () {
            $("#Display-photofolio").click(function () {
                $("#My-account-panel").hide(0);
                $("#My-photofolio-panel").fadeIn(500);
            });
        });
    </script>

    <!-- jQuery Version 1.11.0 -->
    <script src="Scripts/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="Scripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#photo").click(function () {
                $("#userSearch").hide(0);
                $("#photoSearch").fadeIn(500);
                $("#tagSearch").hide(0);
            });

        });
    </script>

    <script>
        $(document).ready(function () {
            $("#user").click(function () {
                $("#photoSearch").hide(0);
                $("#tagSearch").hide(0);
                $("#userSearch").fadeIn(500);
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#tag").click(function () {
                $("#userSearch").hide(0);
                $("#photoSearch").hide(0);
                $("#tagSearch").fadeIn(500);
            });
        });
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $("#filterToggle").click(function () {
            $("#Menu-filter").toggleClass("toggled");
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#filterToggle").click(function () {
                $("#Menu-filter").toggle(1000);
            });

        });
    </script>

    <script>
        $("#changeForm").hide();
        $("#changeButton").click(function () {
            $("#staticForm, #changeForm").stop(true).slideToggle("slow");
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#Art-header").click(function () {
                $("#Photo-gallery").hide(0);
                $("#Art-gallery").fadeIn(500);
            });
            $("#Gallery-header").click(function () {
                $("#Art-gallery").hide(0);
                $("#Photo-gallery").fadeIn(500);
            });
        });
    </script>

    <script>
        $(function () {
            $('a[href*=#]:not([href=#carousel-example-generic])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(window).bind('scroll', function () {
                var navHeight = 300; // custom nav height
                ($(window).scrollTop() > navHeight) ? $('nav').addClass('goToTop') : $('nav').removeClass('goToTop');
            });
        });
    </script>
    <script>
        $("#changePWButton").click(function () {
            $("#changePWDiv").toggle("slow");
        });
    </script>
    <script>

        function validateUsername() {
            var name = document.forms["registerForm"]["Username"].value;

            var pattern = /[^a-zA-Z0-9_s]/g;

            if (name.length == 0) {
                document.getElementById("Username-error-msg").innerHTML = ("");
                document.getElementById("Username-error-msg").style.display = "none";
                return false;
            }

            if (pattern.test(name)) {
                document.getElementById("Username-error-msg").innerHTML = ("Please enter numbers, letters or underscores only.");
                document.getElementById("Username-error-msg").style.display = "block";
                return false;
            }
            else {
                document.getElementById("Username-error-msg").innerHTML = ("");
                document.getElementById("Username-error-msg").style.display = "none";
                return true;
            }
        }

        // tests the email field - shows non-alert error message
        function validateEmail() {
            var email = document.forms["registerForm"]["Email"].value;
            var atpos = email.indexOf("@@");
            var dotpos = email.lastIndexOf(".");

            if (email.length == 0) {
                document.getElementById("Email-error-msg").style.display = "none";
                return false;
            }

            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= email.length) {
                document.getElementById("Email-error-msg").style.display = "block";
                return false;
            }
            else {
                document.getElementById("Email-error-msg").style.display = "none";
                return true;
            }
        }

        // tests new password field - shows non-alert messages
        function validatePassword() {
            var Password = document.forms["registerForm"]["Password"].value;
            var conPass = document.forms["registerForm"]["ConfirmPassword"].value;
            var length = 8;

            if (Password.length < length && Password.length > 0) {
                document.getElementById("Password-error-msg").innerHTML = ("<strong>Error!</strong> Password must be at least 8 characters.");
                document.getElementById("Password-error-msg").style.display = "block";
                return false;
            } else {
                document.getElementById("Password-error-msg").innerHTML = ("");
                document.getElementById("Password-error-msg").style.display = "none";
                if (conPass.length == 0)
                    document.getElementById("Passreplace-error-msg").innerHTML = ("");
                document.getElementById("Passreplace-error-msg").style.display = "none";
                while (conPass.length > 0) {
                    if (Password.length < length) {
                        document.getElementById("Passreplace-error-msg").innerHTML = ("");
                        document.getElementById("Passreplace-error-msg").style.display = "none";
                    }
                    if (Password != conPass) {
                        document.getElementById("Passreplace-error-msg").innerHTML = ("<strong>Error!</strong> Passwords don't match.");
                        document.getElementById("Passreplace-error-msg").style.display = "block";
                        return false;
                    } else {
                        document.getElementById("Passreplace-error-msg").innerHTML = ("");
                        document.getElementById("Passreplace-error-msg").style.display = "none";
                        return true;
                    }
                }
            }
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
