@model IEnumerable<Login.Models.Upload>
@using Login.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Gallery";
}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12" id="Top-header">
                <hr>
                <a href="javascript:void(0)">
                    <h2 class="display-inline intro-text" id="Art-header">
                        <strong>Art</strong>
                    </h2>
                </a>
                <a href="javascript:void(0)">
                    <h2 class="display-inline intro-text" id="Gallery-header">
                        <strong>Photo</strong>
                    </h2>
                </a>
                <hr>
            </div>
            <br>
            <div id="Photo-gallery">
                @{List<Upload> photos = new List<Upload>();
                List<Upload> art = new List<Upload>();
                foreach (var item in Model)
                {
                    if (item.category == "Photos")
                    {
                        photos.Add(item);
                    }
                    else if (item.category == "Art")
                    {
                        art.Add(item);
                    }
                    else { }
                }
                }
                @{List<int> photosRated = new List<int>();
                foreach (var photoID in ViewData["PhotosRated"] as List<Rating>)
                {
                    photosRated.Add(photoID.UploadID);
                }
                }
                @foreach (var item in photos)
                {
                    <div class="col-sm-4 text-center margin-bottom-1">
                        <a href="~/@item.location" data-lightbox="image-1" data-title="@item.title - @item.description">
                            <img src="~/@item.location" alt="" width="100%" height="200">
                        </a>
                        <a href="@Url.Action("UserUploadsView", "Home", new { user = @item.username })">
                            <h3 class="float-left margin-removed">
                                @item.username
                            </h3>
                        </a>
                        @*@for (int count = 1; count < @item.rating + 1; count++)
                            {
                                <div class="rating">
                                    <span><input type="radio" name="rating" id="@count" value="@count"><label for="@count"></label></span>
                                </div>
                            }*@
                        @if (item.rating > 0)
                        {
                            <div class="@(photosRated.Contains(item.UploadID) ? "static-rating" : "rating")" id="@(photosRated.Contains(item.UploadID) ? "static-rating" : "rating")-@item.UploadID">
                                @if (item.rating == 1)
                                {

                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                }
                                else if (item.rating == 2)
                                {

                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                }
                                else if (item.rating == 3)
                                {

                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                }
                                else if (item.rating == 4)
                                {

                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                }
                                else if (item.rating == 5)
                                {

                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                }
                            </div>
                        }
                        else
                        {
                            <div class="@(photosRated.Contains(item.UploadID) ? "static-rating" : "rating")" id="@(photosRated.Contains(item.UploadID) ? "static-rating" : "rating")-@item.UploadID">
                                <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                <span><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                <span><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                <span><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>
                            </div>
                        }
                        @*<div class="rating-error" id="error-@{@item.UploadID}"><p class="rating-error-msg">Please log in to rate.</p></div>*@
                    </div>
                }
            </div>
            <div id="Art-gallery">
                @foreach (var item in art)
                {
                    <div class="col-sm-4 text-center margin-bottom-1">
                        <a href="~/@item.location" data-lightbox="image-1" data-title="@item.title - @item.description">
                            <img src="~/@item.location" alt="" width="100%" height="200">
                        </a>
                        <a href="@Url.Action("UserUploadsView", "Home", new { user = @item.username })">
                            <h3 class="float-left margin-removed">
                                @item.username
                            </h3>
                        </a>
                            @if (item.rating > 0)
                            {
                                <div class="@(photosRated.Contains(item.UploadID) ? "static-rating" : "rating")" id="@(photosRated.Contains(item.UploadID) ? "static-rating" : "rating")-@item.UploadID">


                                    @if (item.rating == 1)
                                    {

                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                    }
                                    else if (item.rating == 2)
                                    {

                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                    }
                                    else if (item.rating == 3)
                                    {

                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                    }
                                    else if (item.rating == 4)
                                    {

                                        <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                    }
                                    else if (item.rating == 5)
                                    {

                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                        <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                    }
                                </div>
                            }
                            else
                            {
                                <div class="@(photosRated.Contains(item.UploadID) ? "static-rating" : "rating")" id="@(photosRated.Contains(item.UploadID) ? "static-rating" : "rating")-@item.UploadID">
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>
                                </div>
                            }
</div>
                }
            </div>
        </div>
    </div>

</div>
<!-- /.container -->
