@model IEnumerable<Login.Models.Upload>

@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css">
<div class="container">
    @{var count = 0;}


    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <h5>Featured Photos</h5>
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @foreach (var item in Model)
                        {
                            if (count < 3)
                            {
                                <div class="@(count == 0 ? "item active" : "item")">
                                    <img class="img-responsive img-full" src="@item.location" alt="">

                                    <div class="carousel-caption">

                                        @if (item.rating > 0)
                                        {
                                            <div class="@(User.Identity.IsAuthenticated ? "rating" : "static-rating")" id="@(User.Identity.IsAuthenticated ? "rating" : "static-rating")-@{@item.UploadID}">

                                                <h2 class="inline">Caption 1</h2>
                                                @if (item.rating == 1)
                                                {

                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                                }
                                                else if (item.rating == 2)
                                                {

                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                                }
                                                else if (item.rating == 3)
                                                {

                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                                }
                                                else if (item.rating == 4)
                                                {

                                                    <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                                }
                                                else if (item.rating == 5)
                                                {

                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                                    <span class="checked"><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>

                                                }
                                            </div>
                                            <p class="caption inline">Photo by: <a href="">Dummy</a></p>
                                            <p class="avgRating caption inline">400 Ratings</p>
                                        }
                                        else
                                        {
                                            <div class="@(User.Identity.IsAuthenticated ? "rating" : "static-rating")" id="@(User.Identity.IsAuthenticated ? "rating" : "static-rating")-@{@item.UploadID}">
                                                <span><input type="radio" name="rating" id="@{@item.UploadID}str5" value="5" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "5" })'"><label for="@{@item.UploadID}str5"></label></span>
                                                <span><input type="radio" name="rating" id="@{@item.UploadID}str4" value="4" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "4" })'"><label for="@{@item.UploadID}str4"></label></span>
                                                <span><input type="radio" name="rating" id="@{@item.UploadID}str3" value="3" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "3" })'"><label for="@{@item.UploadID}str3"></label></span>
                                                <span><input type="radio" name="rating" id="@{@item.UploadID}str2" value="2" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "2" })'"><label for="@{@item.UploadID}str2"></label></span>
                                                <span><input type="radio" name="rating" id="@{@item.UploadID}str1" value="1" onclick="location.href = '@Url.Action("Create", "Ratings", new { UploadID = @item.UploadID, ratingValue = "1" })'"><label for="@{@item.UploadID}str1"></label></span>
                                            </div>
                                            @*<br />
                                           
                                            <br />*@
                                             <div class="rating-error" id="error-@{@item.UploadID}"><p class="rating-error-msg">Please log in to rate.</p></div>
                                            <p class="caption inline">Photo by: <a href="">Dummy</a></p>
                                            <p class="avgRating caption inline">400 Ratings</p>
                                        }

                                    </div>

                                </div>
                                        count++;
                            }
                        }
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <!--<br>
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">Photo Folio</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>By
                        <strong>Start Bootstrap</strong>
                    </small>
                </h2>-->
            </div>
        </div>
    </div>

    <div class="row" id="topMembers">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Top Members of the week</strong>
                </h2>

                <hr>
                @foreach(var item in ViewData["TopMembers"] as List<Login.Models.AspNetUser>)
                {
                    <div class="col-md-6">
                        <div class="well well-lg">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="http://placehold.it/75x75" class="img-responsive">
                                </div>
                                <div class="col-sm-9">
                                    <h4 class="margin-removed">@item.UserName</h4>
                                    <div class="star-div">
                                        @if (Math.Round((float)item.AvgRating) == 3)
                                        {
                                            <div class="static-rating-front">
                                                <span><input type="radio" id="str1"><label for="str1"></label></span>
                                                <span><input type="radio" id="str2"><label for="str2"></label></span>
                                                <span class="checked"><input type="radio" id="str3"><label for="str3"></label></span>
                                                <span class="checked"><input type="radio" id="str4"><label for="str4"></label></span>
                                                <span class="checked"><input type="radio" id="str5"><label for="str5"></label></span>
                                            </div>
                                        }
                                        else if (Math.Round((float)item.AvgRating) == 4)
                                        {
                                            <div class="static-rating-front">
                                                <span><input type="radio" id="str1"><label for="str1"></label></span>
                                                <span class="checked"><input type="radio" id="str2"><label for="str2"></label></span>
                                                <span class="checked"><input type="radio" id="str3"><label for="str3"></label></span>
                                                <span class="checked"><input type="radio" id="str4"><label for="str4"></label></span>
                                                <span class="checked"><input type="radio" id="str5"><label for="str5"></label></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="static-rating-front">
                                                <span class="checked"><input type="radio" id="str1"><label for="str1"></label></span>
                                                <span class="checked"><input type="radio" id="str2"><label for="str2"></label></span>
                                                <span class="checked"><input type="radio" id="str3"><label for="str3"></label></span>
                                                <span class="checked"><input type="radio" id="str4"><label for="str4"></label></span>
                                                <span class="checked"><input type="radio" id="str5"><label for="str5"></label></span>
                                            </div>
                                        }
                                    </div>
                                    <br>
                                    @item.Country
                                    <br>
                                    @item.TagOne | @item.TagTwo | @item.TagThree
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Beautiful boxes
                    <strong>to showcase your content</strong>
                </h2>
                <hr>
                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>
</div>