@model IEnumerable<Login.Models.AspNetUser>

@{
    ViewBag.Title = "SearchUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <h2>SearchUser</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagThree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            var avg = Math.Round((float)item.AvgRating);
            <tr>
                <td>
                    <a href="@Url.Action("UserUploadsView", "Home", new { user = @item.UserName })">@Html.DisplayFor(modelItem => item.UserName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagOne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagTwo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagThree)
                </td>
                <td>
                    @avg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
            </tr>
        }

    </table>
</div>