@model IEnumerable<Login.Models.Upload>
@using Login.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}
<div class="box">
    <h2>My Uploads</h2>

    <a href="@Url.Action("Create", "Uploads")">
        <img src="~/Images/upload.jpg" width="200" height="40"/>
    </a>
    <br />
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>Title</th>
            <th>Description</th>
            <th>Average Rating</th>
            <th>Admin Options</th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.username == User.Identity.GetUserName())
            { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    <img src="~/@item.location" width="325" height="200"/>
                </td>
                <td>
                    @item.title
                </td>
                <td>
                    @item.description
                </td>
                <td>@Html.DisplayFor(modelItem => item.rating)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UploadID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UploadID })
                </td>
            </tr>
            }
        }

    </table>
</div>